* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1{
    color: black;
    font-size: 35px;
  }
  body{
    display: flex;
    background-image: url(ayaw.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .wrapper {
    background-color: rgb(red, green, blue);
    color: rgb(red, green, blue);
    border: 2px solid rgb(red, green, blue);
    padding: 20px;
    width: 400%;
    border-radius: 20px;
  }
  
  .wrapper {
    font-variant: small-caps;
    text-align: center;
    font-weight: lighter;
  }
  